$background_light:#ffffff;
$background_dark:#F8F8F8;
$background_toast: #EAEAEA;
$background_toast_dark: rgba(0,0,0,0.8);
$background_primary: #0ad4fa;

$background_primary_transparent: rgba(10,212,250,0.8);
$background_secondary: #D72785;
$background_body:#ECEEF3;
$color_main:#616161;
$color_toast:#a3a3a3;
$color_primary:#ffffff;
$size_h1:64px;
$size_h2:36px;
$size_h3:24px;
$size_h4:18px;
$size_h5:16px;
$size_h6:14px;

body{
  margin: 0px;
  padding: 0px;
  background-color: $background_body;
  color: $color_main;
  font-family:'Source Sans Pro';

  h1{
    margin: 0px;
    font-size: $size_h1;
    font-weight:300;
  }
  h2{
    margin: 0px;
    font-size: $size_h2;
    font-weight:300;
  }
  h3{
    margin: 0px;
    font-size: $size_h3;
    font-weight:300;
  }
  h4{
    margin: 0px;
    font-size: $size_h4;
    font-weight:300;
  }
  h5{
    margin: 0px;
    font-size: $size_h5;
    font-weight:300;
  }
  h6{
    margin: 0px;
    font-size: $size_h5;
    font-weight:300;
  }
  button{
    cursor: pointer;
    border-radius:100px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
    line-height:48px;
    font-size: $size_h3;
    font-weight: 300;
    &:focus{
      outline:0;
    }
  }
  .app{
    margin: 16px 0;

    display: grid;
    grid-template-columns: 1fr 90% 1fr;
    grid-template-rows:  1fr;
    grid-column-gap: 0px;

    #main-container{
      background-color: $background_dark;
      border-radius: 15px;
      border: 1px solid $background_toast;

      #header{
        padding: 16px 42px;
        height: 48px;
        background-color: $background_light;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        .logo{
          float: left;
          width: 39px;
          height: 39px;
        }

        .user-preview{
          float: right;
          width: 300px;
          display: grid;
          grid-template-columns: 60% 40%;
          grid-gap: 18px;
          .user-name{
            line-height:48px;
            text-align: right;
            h3{
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
          .user-points{
            line-height:48px;
            border-radius: 50px;
            background-color: $background_toast;
            border-radius: 100px;
            padding-left: 10px;
            padding-right: 10px;
            h3{
              float:left;
            }
            img{
              margin-top: 10px;
              float:right;
            }
          }
        }
      }

      .banner{
        img{
          width: 100%;
          &:hover{
            filter: brightness(1.1);
            transition: all 0.5s ease;
          }
        }
      }

      #internal-list{
        padding-left:132px;
        padding-right:132px;
        #controls{
          margin-top:65px;
          display: grid;
          grid-template-columns: 200px auto 150px;
          #counter-list{
            font-size: $size_h3;
          }
    
          #sorter{
            border-left: 1px solid $color_toast;
            padding-left: 18px;
            font-size: $size_h3;
            
            button.inactive{
              background-color: $background_toast;
              color: $color_toast;
              &:hover{
                background-color:$background_primary;
                color: $color_primary;
                transition: all 0.5s ease;
              }
            }
            button.active{
              background-color: $background_primary;
              color: $color_primary;
              &:hover{
                background-color:$background_secondary;
                transition: all 0.5s ease;
              }
            }
    
          }
    
          .navigator-page{
            background-color: $background_dark;
            button{
              border-radius: 100px;
              border: none;
              float:left;
              padding: 0px;
              line-height: 0px;
            }
          }
        }

        #products-container{
          display:grid;
          grid-gap: 15px;
          padding: 15px;
          grid-template-columns: repeat(auto-fill,minmax(276px, 1fr));

          .product-cell{
            list-style-type: none;
            margin-bottom:276px;
            .inner-modal-menu{
              height: 100%;
              width: 276px;
              height: 276px;
              background-color: $background_primary_transparent;
              position: absolute;
              z-index: 2;
              .buy-container{
                button.buy-floater{
                  width: 47px;
                  height: 47px;
                  float: right;
                  padding: 0px;
                  line-height: 0px;
                  background-color: rgba(0,0,0,0);
                }
              }

              .preview-price{
                top:0%;
                clear: both;
                padding-top:40%;
                text-align: center;
                display: flex;
                justify-content: center;
                h2{
                  color: $color_primary;
                }
                img{
                  margin-top: 10px;
                }
              }
              .redeem-button{
                display: flex;
                justify-content: center;
                button{
                  margin-left:0px;
                }
              }
            }
           

            .product-card{
              width: 276px;
              height: 276px;
              background-color: $background_light;
              box-shadow:2px 2px 4px 0 rgba(0,0,0,0.10);
              position: absolute;
              z-index: 1;

              &:hover{
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
              }
              .buy-container{
                button.buy-floater{
                  width: 47px;
                  height: 47px;
                  float: right;
                  padding: 0px;
                  line-height: 0px;
                  background-color: rgba(0,0,0,0);
                }
              }

              .img-container{
                position: absolute;
                top:0px;
                float: left;
                z-index: -1;
              }
              
              .remaining-points{
                button{
                  margin-top: 5px;
                  margin-right: 5px;;
                  float:right;
                  line-height:32px;
                  border-radius: 50px;
                  background-color: $background_toast_dark;
                  border-radius: 100px;
                  padding-left: 10px;
                  padding-right: 10px;
                  h6{
                    float: right;
                    color: $color_primary;
                  }
                  img{
                    margin-top: 4px;
                    margin-left: 4px;;                    float:right;
                    width: 26px;
                    height: 26px;
                  }
                }
                
              }
              .data-container{
                border-top: 1px solid $color_toast;
                position: absolute;
                width:80%;
                left:10%;
                bottom:2%;
                z-index: 0;
              }
            }
          }

          
        }
      }
      

      @media (max-width: 990px) {
        #internal-list{
          padding-left:10px;
          padding-right:10px;
        }
      }
      @media (max-width: 800px) {
        #internal-list{
          #controls{
            margin-top:65px;
            display: grid;
            grid-template-columns: 200px auto ;
          }
        }
      }
    }
  }

    
}